:root {
  --ref-space-25: 0.25rem;
  --ref-space-50: 0.50rem;
  --ref-space-75: 0.75rem;
  --ref-space-100: 1rem;
  --ref-space-125: 1.25rem;
  --ref-space-150: 1.50rem;
  --ref-space-175: 1.75rem;
  --ref-space-200: 2rem;
  --ref-space-250: 2.5rem;
  --ref-space-300: 3rem;
  --ref-space-400: 4rem;
  --ref-space-450: 4.5rem;
  --ref-space-500: 5rem;
  --ref-space-600: 6rem;
  --ref-space-700: 7rem;
  --ref-space-800: 8rem;
  --ref-space-900: 9rem;

  --color-primary: #40ABD7;
  --color-on-primary: #000000;
  --color-primary-container: #99D2EA;
  --color-on-primary-container: #165B79;
  --color-on-primary-container-hover: #1d7ba6;

  --color-secondary: #8A9AAB;
  --color-on-secondary: #000000;
  --color-secondary-container: #C4CCD5;
  --color-on-secondary-container: #303943;


  --color-tertiary: #4F8787;
  --color-on-tertiary: #000000;
  --color-tertiary-container: #AFCFD0;
  --color-on-tertiary-container: #203535;

  --color-error: #FF4E44;
  --color-on-error: #000000;
  --color-error-container: #FFB4B0;
  --color-on-error-container: #510400;

  --color-surface: #FAFAFA;
  --color-on-surface: #000000;
  --color-surface-dim: #E8E8E8;
  --color-on-surface-variant: #5E5E5E;

  --color-outline: #6F6F6F;
  --color-outline-variant: #A7A7A7;
  --color-shadow: #000000;
  --color-scrim: #000000;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-lg-alt: 20px;
  --radius-xl: 28px;
  --radius-xl-alt: 32px;
  --radius-xxl: 48px;
  --radius-full: 9999px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --typescale-display-large-size: 4.75rem;
  --typescale-display-large-line-height: 5.3331rem;
  --typescale-display-medium-size: 3.75rem;
  --typescale-display-medium-line-height: 4.3331rem;
  --typescale-display-small-size: 3rem;
  --typescale-display-small-line-height: 3.6669rem;
  --typescale-headline-large-size: 2.6669rem;
  --typescale-headline-large-line-height: 3.6669rem;
  --typescale-headline-medium-size: 2.3331rem;
  --typescale-headline-medium-line-height: 3rem;
  --typescale-headline-small-size: 2rem;
  --typescale-headline-small-line-height: 2.6669rem;
  --typescale-title-large-size: 1.8331rem;
  --typescale-title-large-line-height: 2.3331rem;
  --typescale-title-medium-size: 1.3331rem;
  --typescale-title-medium-line-height: 2rem;
  --typescale-title-small-size: 1.1669rem;
  --typescale-title-small-line-height: 1.6669rem;
  --typescale-body-large-size: 1.3331rem;
  --typescale-body-large-line-height: 2rem;
  --typescale-body-medium-size: 1.1669rem;
  --typescale-body-medium-line-height: 1.6669rem;
  --typescale-body-small-size: 1rem;
  --typescale-body-small-line-height: 1.3331rem;
  --typescale-label-large-size: 1.1669rem;
  --typescale-label-large-line-height: 1.6669rem;
  --typescale-label-medium-size: 1rem;
  --typescale-label-medium-line-height: 1.3331rem;
  --typescale-label-small-size: 0.9169rem;
  --typescale-label-small-line-height: 1.3331rem;
}

#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-page {
  width: 100%;
}

.app-page > div {
  height: 100vh;
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}